{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->

        <header class="masthead" style="background-image: url(' {{ url_for('static' , filename='assets/img/about-bg.jpg')}} ') ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-7 col-lg-9 col-xl-8">
                        <p>

                            Hi! My Name Is Ritesh.
                            I'm a Bangalore based Data Scientist with a background in Engineering. I am an Analytical and quality-oriented individual with an eye for detail, A problem solver with team building and organizational capabilities.
                          </p>
                        <p>
                            I have keen interest in product management, Data Science & Machine Learning. I had Co-founded a logistic startup, "PocketTrucks".
                            I have always been a go-getter. I am a believer of, "If you can dream it, you can do it!"
                        </p>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}